<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="Hitearth.ILog,ILog" url="IPC://Hitearth/Log" />
      </client>
      <channels>
        <channel type="System.Runtime.Remoting.Channels.Ipc.IpcClientChannel, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>