<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall" type="Hitearth.Talker,Server" objectUri="Log" />
      </service>
      <channels>
        <channel type="System.Runtime.Remoting.Channels.Ipc.IpcServerChannel, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" portName="Hitearth" authorizedGroup="Everyone" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>